/* LOCAL CSS */
html, body {
 /* margin: 0 auto; */
 /* text-align: center; */
 font-family: 'Bitter', serif;
}

.row {
  margin: .35em auto;
  border-radius: .35em;
}

.me {
  text-align: left;
  margin: .15em;
}

.me h2 {
  display: inline;
}

h3 {
  padding-top: 5px;
  margin: 0 auto;
  color: #fff;
}

img.me {
  border: solid .25em grey;
  height: 10rem;
  /* width: auto; */
  margin: 1em;
  border-radius: 40em;
}

.skills, .projects {
  text-align: center;
}

.card .card-content {
  padding: .25em;
}

.card .card-action {
  padding: .25em;
  text-align: center;
}

.card-action > a {
  margin: 0;
}

/* .projects > span {
  margin: 0;
} */

/* .flicker-images {} */
#flickr_logo {
  height: 2em;
  width: auto;
  padding: .5em 0 0;
}

/* footer {} */
